:root{
    --fundo: #F5DEB3;
    --cor-frente: #DEB887;
    --cor-verso: #D2B48C;
    --destaque: #8B4513;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--destaque);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#containeres{
     padding: 4rem;
     display: flex;
     gap: 3rem;
     flex-wrap: wrap;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}